.angular/
node_modules/
wwwroot/
packages/
**/mockLogger/mocks/
**/config/version.json
**/config/config.*.json
**/server.mock.*.cjs
!**/config/config.development.json
configOverride.js
configBrowserOverride.js
configServerOverride.js
.env
proxyUrl.js
*.log
*.bak
*.orig
*~
