@use '@anglr/common/styles/themes/dark' as anglrCommonTheme;
@use '@anglr/datetime/styles/themes/dark' as dateTimeTheme;
@use '@anglr/grid/styles/themes/dark' as gridTheme;
@use '@css-styles/themes' as themes;

@use './scss/theme/defaultTheme' as defaultTheme;
@use './scss/theme/dark' as appTheme;

@use 'scss/theme/theme' with ($fontSize: appTheme.$fontSize,
                              $theme: themes.defineTheme(appTheme.$fontSize, defaultTheme.$defaultTheme, appTheme.$appTheme),
                              $appTheme: defaultTheme.defineTheme(appTheme.$appTheme),
                              $themeName: 'dark',
                              $anglrCommonTheme: anglrCommonTheme.defineTheme(),
                              $dateTimeTheme: dateTimeTheme.defineTheme(),
                              $gridTheme: gridTheme.defineTheme(),
                              $hljs: 'vs2015');